body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/LyricsFinder/piano.png"); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

input, button {
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  background-color: rgba(150, 31, 219, 0.85);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#lyrics {
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
  background-color: rgba(150, 31, 219, 0.85);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  white-space: pre-line;
  
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 1.1;
  letter-spacing: 0.5px;
}
  
